@import '../../../scss/variables';

$accent-04: rgba($accent, 0.4);

.wrapper {
	text-align: center;
}

.button {
	border: none;
	outline: none;
	font-size: 18px;
	border-radius: 10px;
	padding: 14px 48px;
	transition: background-color 0.15s ease;
	background-color: $accent-04;
	cursor: pointer;
	color: #fff;

	&:hover {
		background-color: rgba($accent, 0.7);
	}

	&.main {
		background-color: rgba(255, 255, 255, 0.25);

		&:hover {
			background-color: $accent-04;
		}
	}
}
